<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/sanitize.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" href="../static/img/favicon/favicon.ico" sizes="16x16">
    <title>HALZAP撮影画面</title>
</head>

<body>
    <div class="wrapper video-wrapper">
        <video autoplay loop controls class="video" src="../static/video/video{{exercisetype_id}}.mp4"></video>
        <a class="login_button video-next btn" href="{{ url_for('camera', exercisetype_id=exercisetype_id) }}">撮影へ</a>
    </div>
</body>

</html>